p {
  color: red;
  font-size: 12px;
}
body {
  background-color: #4158d0;
  background: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-repeat: no-repeat;
  max-height: 100%;
}
html {
  min-height: 100%;
}

